.container {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 100%, 0%);
    background-color: transparent;
}

.button {
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 100%, 0%);
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}